body{
    background-color:#6c6c6c;
}
.container-fluid{

}
.img{
   
    height: 100px;
    display: block;
    margin-top: -100;
}
.card{
position:static;
color:azure;
display: block;
margin-left: 500px;
}